*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.App{
  min-height: 100vh;
  position: relative;
  background-color: #313131;
}

.camera{
   position: relative;
}

.result{
   position: fixed;
   top: 0;
   left: 100%;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   background-color: rgb(0, 0, 0, 0.9);
   transition: 0.4s;
}

.result.hasPhoto{
  left: 0;
}

video{
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* button {
  /* position: absolute;  não da pra usar flex com o position absolute*/
  /* bottom: 20px; 
  left: 20px; 

  appearance: none;
  border: none;
  outline: none;

  padding: 8px 16px;
  background-image: linear-gradient(to right, #844FFF 50%, #FF4F84 50% );
  background-position: 0%;
  background-size: 200%;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
} */

button:hover{
  background-position: 100%;
}

canvas{
  width: 100%;
  height: auto;
}

/*============================ Botões da Câmera ============================*/
.snapPhoto {
  position: relative;
  bottom: 8em;
}

.cameraButtons{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
  bottom: 40em;
}

.recordButton, .stopButton, .restartButton {
  /* background-image: none;
  background-color: transparent; */
  bottom: 0px;
} 

.recIcon {
  margin: 15px 0px 0px 20px;
}

button {
  border: none;
  background-color: transparent;
}
.ButtonBackg {
  width: 75px;
  height: 75px;
  background: #393A32;
  border-radius: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.recordButton {
  /* left: 130px; */
  width: 24px;
  height: 24px;
  background: #9C0024;
  border-radius: 88px;

} 

.stopButton {left: 220px;}

.restartButton {left: 305px}

.recordButton img:hover, .stopButton img:hover, .restartButton img:hover {
  width: 67px;
  height: 67px;
}
